* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

a, h1, p {
    text-decoration: none;
    color: #0a1a3b;
}

/* Menu */
#menu-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 10px #752fbb;
}

.menu img {
    width: 200px;
}

.menu { 
    margin: 0 70px;
}

.menu li {
    display: inline;
    margin-left: 20px;
    align-items: center;
    
}
.menu li a:hover {
    border-bottom: solid #752fbb;
}

/*DEPOIMENTOS */
#depoimentos h1 {
    text-align: center;
    padding: 10px;
    margin: 0 180px;

    border-bottom: inset #0a1a3b;
}

#depoimentos {
    background-image: linear-gradient(to bottom, #fff, #894df8);

    padding: 50px 0;
}
.depoimento {
    display: flex; 

    margin: 50px 200px;
    font-size: 20px;
}
.depoimento img {
    width: 250px;
}

.texto-depoimento {
    margin-left: 30px;
    padding: 10px;
    border-left: inset #0a1a3b 5px;
}

/* RODAPÉ */
#rodape {
    display: flex;
    justify-content: center;

    background: #0a1a3b;
    color: #fff;
    font-size: 20px;
    line-height: 25px;

    border-top: solid #752fbb 5px;
}

#rodape .rodape {
    padding: 50px;
}

.rodape h2 {
    margin-bottom: 20px;
}
#rodape p {
    color: #fff;
}

.contato {
    display: flex;
    flex-direction: column;
}
.cont {
    display: flex;
    flex-direction: row;

    margin: 5px;
}
.cont img {
    margin-right: 10px;
}

.form input {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}
.form button {
    margin-top: 5px;
    padding: 5px;
}

